* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    will-change: transform, opacity;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
    scroll-behavior: smooth;
    background-color: #141414;
    background-image: url('Images/Background.jpg');
    background-size: 2000px auto;
    background-repeat: no-repeat;
    background-attachment: fixed; /* agar tidak ikut scroll */
    background-position: center;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body:before {
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.96); /* semi-gelap overlay */
    z-index: -1;
}

.navbar {
    background-color: #131313;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100vw;
    margin: 0 auto;
    padding: 0 40px;
}

#navbar__logo {
    background-color: #00aeff;
    background-image: linear-gradient(to right, #0099ff 0%, #0044ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-logo {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 90px;
}

.navbar__link {
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__link:hover {
    background: #00aeff;
    transition: all 0.3s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 90px;
        z-index: 1;
        width: 100%;
        max-width: 1400px;
        padding: 0;
    }
    
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 40vh;
        z-index: -1;
        background: #131313;
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }

    .navbar__menu.active {
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
        z-index: 999;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #ffff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* Hero Section CSS */
#main {
    background-color: transparent;
}

.main__container {
    display: flex;
    background: transparent;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    z-index: 1;
    width: 100%;
    padding: 0 40px;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo__circle img {
    background-color: rgba(255, 255, 255, 0.2); /* putih transparan */
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 500px;
    margin-bottom: 4rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.main__content h1 {
    font-size: 4rem;
    font-weight: 800;
    background-color: #00aeff;
    background-image: linear-gradient(to right, #00aeff 0%, #0084ff 30%, #0044ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    font-family: 'montserrat', sans-serif;
    color: #ffff;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
}

.menu__btn {
    font-size: 1rem;
    font-weight: 800;
    background-image: linear-gradient(to right, #00aeff 0%, #0084ff 30%, #0044ff 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #ffff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu__btn a {
    position: relative;
    z-index: 2;
    color: #ffff;
    text-decoration: none;
}

.menu__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4c00ff;
    background-image: linear-gradient(to right, #642cff 0%, #4c00ff 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.menu__btn:hover {
    color: #ffff;
}

.menu__btn:hover:after {
    width: 100%;
}

@media screen and (max-width:476px) {
    .logo__circle img {
        width: 400px;
    }

    .main_content p {
        font-size: 1.2rem;
    }
}



/* Menu Section CSS */
#menu__content {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#menu__content h1 {
    background-color: #00aeff;
    background-image: linear-gradient(to right, #00aeff 0%, #0084ff 30%, #0044ff 100%);
    background-size: 100%;
    margin-top: 10.5rem;
    margin-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: 800;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.menu__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.menu__card {
    margin: 1rem;
    height: 600px;
    width: 400px;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100%), url(Images/Kopi.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.menu__card:nth-child(2) {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100%), url(Images/Makanan.jpg);
}

#menu__content h2 {
    position: absolute;
    top: 450px;
    left: 40px;
}

.menu__card p {
    font-family: 'montserrat', sans-serif;
    position: absolute;
    top: 480px;
    left: 40px;
    right: 40px;
    font-weight: 300;
    text-align: left;
}

.menu__card a {
    position: relative;
    z-index: 2;
    color: #ffff;
    text-decoration: none;
}

.menu__card button:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4c00ff;
    background-image: linear-gradient(to right, #642cff 0%, #4c00ff 100%);
    transition: all 0.35s;
    border-radius: 4px;
}

.menu__card button:hover {
    color: #ffff;
}

.menu__card button:hover:after {
    width: 100%;
}

.menu__card button {
    color: #fff;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #0084ff;
    position: absolute;
    top: 530px;
    left: 40px;
    font-size: 1rem;
    cursor: pointer;
}

.menu__card:hover {
    transform: scale(1.075);
    transition: 0.25s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .menu__container{
        gap: 2rem;
    }
    
    #menu__content {
        height: 1600px;
    }

    #menu__content h1 {
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and (max-width:480px) {
    #menu__content {
        height: 1400px;
    }

    #menu__content h1 {
        font-size: 1.2rem;
    }

    .menu__card {
        width: 300px;
    }
}



/* Footer CSS */
#footer__container {
    background-color: #131313;
    background-size: 100%;
    height: 25vh;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0,0,0,0.2);
}

.footer__links {
    color: #fff;
}

.footer__links--items h2 {
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.footer__links--items a {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
}

@media screen and (max-width:960px){
    #footer__container {
        height: 40vh;
    }

    .footer__links--items a {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width:476px) {
    #footer__container {
        height: 80vh;
        margin-top: 8rem;
    }

    .footer__links--items a {
        display: flex;
        align-items: center;
    }
}